
<div>
<nav class='header navbar'>
<div class='container-fluid'>
   <img id="fmtIMg" style='float:left;' src="./assets/images/logo2.png" alt=""> <h1> Ghezlan Dresses </h1>
    <ul>
<li><a [routerLink]="['/welcome']"><span class="glyphicon glyphicon-home"></span>Home</a><li>
<li><a [routerLink]="['/products']">Dresses </a></li>
<li><a [routerLink]="['/location']"><span class="glyphicon glyphicon-screenshot"></span>Location </a></li>

</ul>
</div>
</nav>
<div class='container'>
<router-outlet></router-outlet>
</div>
</div>