<div class="container">

<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
 <div style="margin-left:200px; width: 800px; height: 400px">
  <carousel [sources]="imageSources" [config]="config"></carousel>
</div>

</div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, minima optio, quia enim natus nihil officia saepe nam ab officiis sequi suscipit quibusdam voluptatum sed quae provident similique, ea perferendis!
      </div>
      <div class="col-12 col-md-auto">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque perferendis vel facere! Sit id vitae officiis amet harum omnis assumenda ipsum libero, quidem voluptatem sunt obcaecati, consequuntur totam magnam eveniet.      </div>
      <div class="col col-lg-2">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, minima nobis tempora quibusdam porro accusantium iure similique beatae magni dolores rerum consectetur ad minus harum, facilis voluptates sunt asperiores nisi!      </div>
    </div>
  </div>