<div class="container">
<div style="margin-left:200px;width: 800px; height:500px">

 <carousel [sources]="imageSources"  [config]="config"> </carousel>
 <div class="row">
     <div class="col">
         
     </div>
 </div>
      </div>
            <div class="row">
              <div class=" fmtTxt col-lg-4">
                  <h3>Who We Are</h3>
                    I am Ghezlan, the founder of Ghezlan dresses. The fashion journey began when I was a young girl who tried to manage her time between studies and fashion. As I grew, the love for Arabian dresses and Kaftans grew along with me, and with the help of my family I was able to start my own business, Ghezlan dresses.              </div>
              <div class="fmtTxt col-lg-4">
                  <h3>Mission</h3>
                    Through the love for fashion, colors and beautiful details in Arabian dresses, the dream of starting my own fashion business came true. My mission is to reach every Arabian woman who loves change, color, and style and add a touch to her wardrobe.              </div>
              <div class=" fmtTxt col-lg-4">
                  <h3>Collection</h3>
                    My collections are split into three different categories. The traditional, occasional, and casual. Each dress in these categories is made with lots of love and patience to suit the taste of Arabian Women. Using colors and cuts that match the season, these dresses are made with embroidered details to add a smile yet beautiful  touch to the piece              </div>
            </div>
           
            
            <div class="header">
                   
                    <h5>© 2018 Copyright  /      Ghuslan@gmail.com</h5>
            </div>  
    </div>
   
